<div class="mt-4">
    <h3>Sửa khoá học</h3>
    <form method="post" action="/courses/{{courses._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input type="text" class="form-control" value="{{courses.name}}" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khoá học</label>
            <input type="text" class="form-control" value="{{courses.description}}" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Link Image</label>
            <input type="text" class="form-control" value="{{courses.image}}" id="image" name="image">
        </div>

        <div class="mb-3">
            <label for="videoID" class="form-label">Video ID</label>
            <input type="text" class="form-control" value="{{courses.videoID}}" id="videoID" name="videoID">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" value="{{courses.level}}" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>